.page {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: 100%; // stylelint-disable-line

	overflow-x: hidden;
	font-size: var(--font-size);

	@media (max-width: $screen-md - 1 ) {
		&.-no-scroll {
			overflow: hidden;
		}
	}

	&__inner {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 100vh;

		& *,
		& *::before,
		& *::after {
			box-sizing: inherit;
		}
	}

	&__header {
		position: sticky;
		top: 0;
		z-index: 15;
	}

	&__breadcrumb {
		margin-top: calc(var(--grid-gutter) * 1.5);
	}

	&__content {
		flex-grow: 1;
		flex-shrink: 0;

		padding-top: calc(var(--grid-gutter) * 1.5);
		padding-bottom: calc(var(--grid-gutter) * 5);
	}
}

body {
	color: var(--text-color);
	font: var(--font-size) var(--font-family-primary);
	line-height: var(--line-height);
	margin: 0;
	padding: 0;
	word-wrap: break-word;
}

h1, .h1 {
	font-size: var(--font-size-h1);
	color: var(--heading-color);
	font-weight: 700;
	line-height: 1.154;
	margin: 0 0 .578em 0;
}

h2, .h2 {
	font-size: var(--font-size-h2);
	color: var(--heading-color);
	font-weight: 700;
	line-height: 1.25;
	margin: 0 0 .625em 0;
	padding: 0;
}

h3, .h3 {
	font-size: var(--font-size-h3);
	color: var(--heading-color);
	font-weight: 700;
	line-height: 1.25;
	margin: 0 0 1em 0;
	padding: 0;
}

h1:not(:first-child), .h1:not(:first-child),
h2:not(:first-child), .h2:not(:first-child),
h3:not(:first-child), .h3:not(:first-child) {
	margin-top: 1em;
}

a {
  background-color: transparent;
  color: var(--link-color);
	text-decoration-color: currentColor;
	transition: text-decoration-color .3s, color .3s;
	text-decoration-thickness: 1px;

  &:hover,
  &:active,
  &:focus {
    color: var(--link-color--hover);
		text-decoration-color: transparent;
  }

  &[href^='tel:'] {
    // На больших экранах телефоны-ссылки делаем обычным текстом
    @media (min-width: $screen-md) {
      color: inherit;
      pointer-events: none;
      text-decoration: inherit;
      white-space: nowrap;
    }
  }
}

.pseudo-link {
	color: var(--link-color);
	cursor: pointer;
	text-decoration-color: currentColor;
	text-decoration-line: underline;
	text-decoration-style: dashed;
	text-decoration-thickness: 1px;
	text-underline-offset: 2px;
	transition: text-decoration-color .3s, color .3s;

	&:hover,
  &:focus {
    color: var(--link-color--hover);
		text-decoration-color: transparent;
  }
}

p {
	// http://clagnut.com/blog/2395
	hyphenate-limit-chars: 6 3 3;
	hyphenate-limit-last: always;
	hyphenate-limit-lines: 2;
	hyphenate-limit-zone: 8%;
	hyphens: auto;
	margin-bottom: 0;
	margin-top: 0;

	@include offset(typo);
}

svg {
	fill: currentColor;
	stroke: currentColor;
	stroke-width: 0;
	fill-rule: evenodd;

	a &,
	button & {
		pointer-events: none; // Мы любим Edge, это браузер! (почти)
	}

	&:not(:root) {
		overflow: hidden; // Скрыть выступающее за границы в IE
	}
}

img {
	border: none;
	height: auto;
	max-width: 100%;
}

hr {
	border: 0;
	border-top: 1px solid var(--color-gray);
	box-sizing: content-box; // Проблема Firefox
	height: 0;               // Проблема Firefox
	overflow: visible;       // Проблема Edge и IE

	@include offset(block);
}

address {
	font-style: normal;
}

.clear {
	clear: both;
	float: none;
	height: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.clearfix {
	zoom: 1;

	&::before,
	&::after {
		content: "";
		display: table;
		line-height: 0;
	}

	.clearfix::after {
		clear: both;
	}
}