.breadcrumb {
	$block-name: &; // #{$block-name}__element

	font-size: var(--font-size--xs);

	&__list {
		@include list-reset;
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		align-items: center;
		display: flex;
		margin-right: .8333em;
		color: var(--color-primary);
	}

	&__link {
		--link-color: var(--color-gray--dark);
		--link-color--hover: var(--color-primary);

		text-decoration: none;
		display: inline-flex;
		align-items: center;
		gap: .8333em;

		& svg {
			width: 1em;
			height: 1em;
			transform: rotate(-90deg);
		}
	}
}