mixin page-header(mods)
  -
    let allMods = '';
    if (typeof (mods) !== 'undefined' && mods) {
      let regExp = /\s*,\s*/;
      let modsList = mods.split(regExp);
      allMods = modsList.join(' ');
    }

  header.page-header(class=allMods)
    .page-header__inner.page-header__inner--mobile.page-container
      .page-header__logo
        +logo()
      .page-header__burger
        include ../header-burger/index
      .page-header__phone
        +phone('+7 (777) 777-77-77')
      .page-header__order
        +button({
          title: 'Быстрый подбор теста',
          mods: ['primary', 'medium-xl', 'medium-xs'],
        })
      .page-header__auth
        +button({
          title: 'Войти',
          mods: ['text'],
          svg: '<svg class="icon"><use href="#enter"></use></svg>'
        })