.page-header {
	$block-name: &; // #{$block-name}__element

	background: var(--color-white);
	box-shadow: 0px 8px 8px rgba(0, 0, 0, .02);

	&__inner {
		align-items: center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: var(--grid-gutter);
		justify-content: space-between;
		padding-bottom: var(--grid-gutter);
		padding-top: var(--grid-gutter);
	}
}