mixin page-nav(mods)
	-
		let allMods = '';
		if (typeof (mods) !== 'undefined' && mods) {
			let regExp = /\s*,\s*/;
			let modsList = mods.split(regExp);
			allMods = modsList.join(' ');
		}

	.page-nav(class=allMods)
		.page-container.page-nav__inner
			+menu(mainMenuData, {
				baseCss: 'main-menu',
				submenuWrap: true,
				button: true,
				arrow: true
			})