.main-menu {

	$block-name: &; // #{$block-name}__element

	&__submenu {
		animation: fadeIn;
		animation-duration: var(--transition-time);

		& #{$block-name}__list {
			border-radius: var(--border-radius);
			transition: var(--transition-time);
		}
	}

	&__list {
		@include list-reset();

		&--lvl2 {
			font-size: var(--font-size--sm);
		}
	}

	&__item {
		position: relative;
	}

	&__link {
		text-decoration: none;
		transition: var(--transition-time);
		display: block;

		&--lvl1 {
			--link-color: var(--color-gray--darker);
			--link-color--hover: var(--color-primary);
			font-weight: bold;
		}

		&--lvl2 {
			--link-color: var(--color-gray--dark);
		}
	}

	&__arrow {
		width: 20px;
		height: 20px;
		fill: var(--color-primary);
		stroke: var(--color-primary);
		vertical-align: middle;
		margin-left: .25em;
	}

	&__dropdown {
		background-color: transparent;
		border: none;
		cursor: pointer;
		padding: 0;
		height: calc(1em * var(--line-height) + var(--padding-v) * 2);
		aspect-ratio: 1 / 1;
		position: absolute;
		right: 0;
		top: 0;
		transition: var(--transition-time);
		z-index: 5;
		display: flex;
		align-items: center;
		justify-content: center;

		& svg {
			width: 1.429em;
			height: 1.429em;
			stroke: var(--color-primary);
		}

		&--lvl1.-is-active {
			transform: rotate(180deg);
		}
	}

	@media (max-width: $screen-md - 1) {

		&__submenu {
			display: none;

			#{$block-name}__item.-is-active > & {
				display: block;
			}
		}

		&__list {

			&--lvl1 {
				font-size: var(--font-size--lg);
			}

			&--lvl2 {
				padding: .834em 1.667em;
				background: var(--color-gray--light);
				margin-top: .834em;
			}
		}

		&__item {

			&--lvl1 {
				--padding-v: .5em;
				padding: var(--padding-v) 0;
				border-bottom: 1px solid var(--color-gray--light);
			}

			&--lvl2{

				& + & {
					margin-top: .834em;
				}
			}
		}

		&__link { }

		&__arrow {
			display: none;
		}
	}

	@media (min-width: $screen-md) {
		&__submenu {
			display: none;
			width: 315px;
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 10;

			#{$block-name}__item:hover & {
				display: block;
			}
		}

		&__list {

			&--lvl1 {
				font-size: var(--font-size--md);
				display: flex;
				gap: var(--grid-gutter)
			}

			&--lvl2 {
				background: var(--color-white);
				box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
				padding: .714em;
			}
		}

		&__item { }

		&__link {

			&--lvl1 {

				#{$block-name}__item:hover & {
					color: var(--link-color--hover);
				}
			}

			&--lvl2 {
				padding: .65em 1.25em;
				border-radius: var(--border-radius--md);

				&:hover,
				&:active {
					background-color: var(--color-gray--light);
				}
			}
		}

		&__dropdown {
			display: none;
		}
	}

	@media (min-width: $screen-xl) {
		&__list {
			gap: calc(var(--grid-gutter) * 2.5)
		}
	}
}