-
	let mainMenuData = [
		{
			title: "Тесты для персонала",
			submenu: [
				{title: "Каталог тестов"},
				{title: "Программные решения"},
				{title: "Цены"}
			]
		},
		{
			title: "Услуги",
			submenu: [
				{title: "Разработка психологических тестов"},
				{title: "Разработка квалификационных тестов"},
				{title: "Кастомизация тестов"},
				{title: "Оценка методом 360*"},
				{title: "Прокторинг"},
				{title: "Тест-Ассессмент"}
			]
		},
		{
			title: "Обучение",
			submenu: [
				{title: "Сертификация пользователя"},
				{title: "Разработка тестов знаний"},
				{title: "Школа психометрики"},
				{title: "Технология Тест-Ассессмент"},
				{title: "ПрофСтандарты в HR"},
				{title: "Словари"}
			]
		}
	];

-
	let social = [
		{svg: 'social-fb'},
		{svg: 'social-in'},
		{svg: 'social-yt'},
		{svg: 'social-vk'},
		{svg: 'social-ig'},
		{svg: 'social-tg'}
	]

-
	let faqList = [{
		question: 'Как выпустить виртуальную карту «Мир»',
		answer: 'Карты Тинькофф с платежной системой «Мир» продолжают работать в прежнем режиме. Но с 24 марта карты «Мир» не получится привязать к Apple Pay, потому что Apple приостановила поддержку карт. Ранее привязанные карты перестанут работать в ближайшее время. Когда это произойдет, мы сообщим. <a href="#">Подробнее</a>'
	}, {
		question: 'Работает ли бесконтактная оплата',
		answer: 'Да'
	}, {
		question: 'Как работают карты Visa и Mastercard',
		answer: 'Штатно'
	}, {
		question: 'Как вывести деньги из Инвесткопилки',
		answer: 'Легко'
	}, {
		question: 'Как получить наличную валюту по новым правилам',
		answer: 'В банкомате'
	}]