:root {
  /* Базовые Цвета */
  /* TODO: Изучить возможность использования hsl */
  --color-primary--light:   rgb(230, 244, 246); // #E6F4F6
  --color-primary:          rgb(1, 124, 144);   // #017C90
  --color-primary--dark:    rgb(3, 108, 125);   // #036C7D

  --color-white:            rgb(255, 255, 255); // #ffffff
  --color-gray--light:      rgb(243, 243, 243); // #f3f3f3
  --color-gray:             rgb(217, 217, 217); // #d9d9d9
  --color-gray--dark:       rgb(90, 90, 90);    // #5a5a5a
  --color-gray--darker:     rgb(21, 21, 21);    // #151515
  --color-black:            rgb(0, 0, 0);       // #000000

  --color-cyan:             rgb(120, 223, 240); // #78DFF0

  --hue-info:               211;
  --hue-success:            134;
  --hue-error:              354;
  --hue-warning:            45;

  /* Семантические цвета */
  --heading-color:          var(--color-gray--darker);
  --text-color:             var(--color-gray--darker);
  --text-color-muted:       var(--color-gray);

  --link-color:             var(--color-primary);
  --link-color--hover:      var(--color-primary);
  --focus-color:            var(--color-cyan);

  /* Базовая типографика */
  --font-family-primary:    'Roboto', Arial, sans-serif;

  --font-size-h1:           24px;
  --font-size-h2:           20px;
  --font-size-h3:           16px;

  --font-size--xxs:         9px;
  --font-size--xs:          12px;
  --font-size--sm:          12px;
  --font-size--md:          14px;
  --font-size:              14px;
  --font-size--lg:          16px;

  --line-height:            1.5;

  /* Сетка */
  --grid-gutter:            20px;

  /* Отступы */
  --offset-typo:            1em;
  --offset-block:           30px;

  /* Разное */
  --transition-time:        .3s;
  --animate-duration:       var(--transition-time);
  --shadow:                 0 15px 15px rgba(14, 16, 20, .15);

  --border-radius--xs:      5px;
  --border-radius--sm:      7px;
  --border-radius--md:      10px;
  --border-radius:          15px;

  @media (min-width: $screen-md) {
    /* Базовая типографика */
    --font-size-h1:         52px;
    --font-size-h2:         32px;
    --font-size-h3:         20px;

    --font-size--xxs:       9px;
    --font-size--xs:        12px;
    --font-size--sm:        14px;
    --font-size--md:        16px;
    --font-size:            20px;
    --font-size--lg:        22px;

    /* Отступы */
    --offset-block:           50px;
  }
}